<div role="tablist" class="panel-group">
   <div class="panel panel-default" style="margin-top:-1px">
        <div id="collapseListGroupHeading1" role="tab" class="panel-heading">
          <h4 class="panel-title">
            <a aria-controls="collapseListGroup1" aria-expanded="true" href="#collapseListGroup1" data-toggle="collapse" role="button" class="">
              <span aria-hidden="true" class="glyphicon glyphicon-sort-by-order"></span> 订单管理
            </a>
          </h4>
        </div>

        <div aria-labelledby="collapseListGroupHeading1" role="tabpanel" class="panel-collapse collapse in" id="collapseListGroup1" aria-expanded="true" style="">
            <ul class="list-group">
              <li class="list-group-item">
                  <a href="javascript:;"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>    
                      <span>全部订单列表</span></a></li>


            <li class="list-group-item">
                <a href="javascript:;"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>  <span>待处理列表</span></a></li>
            <li class="list-group-item">
              <a href="javascript:;"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
                  <span>已处理订单列表</span></a></li>
            </ul>
        </div>
    </div>
                    
    <div class="panel panel-default" style="margin-top:-1px">
        <div id="collapseListGroupHeading1" role="tab" class="panel-heading">
            <h4 class="panel-title">
              <a aria-controls="collapseListGroup2" aria-expanded="true" href="#collapseListGroup2" data-toggle="collapse" role="button" class="">
                <span aria-hidden="true" class="glyphicon glyphicon-sort-by-order"></span> 权限管理
              </a>
            </h4>
        </div>
        <div aria-labelledby="collapseListGroupHeading2" role="tabpanel" class="panel-collapse collapse in" id="collapseListGroup2" aria-expanded="true">
            <ul class="list-group">
                <li class="list-group-item">
                <a href="javascript:;"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>    
                    <span>权限列表</span></a></li>
                <li class="list-group-item">
                <a href="/Home/Index/addAuth"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>  
                    <span>添加权限</span></a></li>
                <li class="list-group-item">
              <a href="javascript:;"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> 
                  <span>权限组</span></a></li>
            </ul>
        </div>
    </div>
</div>